@import url(../global.css);

header {
  background-color: #014e56;
}

.navbar {
  width: 100%;
  height: 80px;
  position: fixed;
  background: #014e56;
  z-index: 10;
}

.navbar__container {
  display: flex;
  justify-content: space-between;
}

.navbar__container--left {
  display: flex;
  align-items: center;
  margin-top: 20px;
}

.navbar__container--left img {
  margin-right: 60px;
}

.navbar--links ul li a {
  margin: 0 20px;
  font-weight: 600;
  font-size: 18px;
  line-height: 28px;
  color: #ffffff;
}

.navbar--links ul li a:hover {
  color: #f67e7e;
  transition: 0.5s;
}

.navbar__container--right {
  margin-top: 16px;
}

.btn {
  width: 153px;
  height: 48px;
  font-weight: 600;
  font-size: 18px;
  line-height: 28px;
  color: #ffffff;
  background-color: transparent;
  border: 2px solid #ffffff;
  border-radius: 24px;
}

.btn-navbar:hover {
  color: #004047;
  background-color: #ffffff;
  transition: 0.5s;
}

#about {
  background: url(../../images/about/background-1.png) no-repeat center;
  background-size: 1536px;
  height: 560px;
  padding: 193px 0px 0px 0px;
}

.about__container {
  display: grid;
  grid-template-columns: repeat(2, auto);
  grid-gap: 200px;
}

.about__container--left {
  padding-top: 60px;
}

.about__container--left h1 {
  font-weight: 700;
  font-size: 64px;
  line-height: 100px;
  color: #ffffff;
}

.about__container--right {
  padding-top: 110px;
  /* padding-bottom: 250px; */
}

.about__container--right p {
  font-weight: 600;
  font-size: 18px;
  line-height: 28px;
  color: #ffffff;
}

#about-2 {
  background: url(../../images/about/background-2.png) no-repeat center;
  background-size: 1536px;
  height: 1065px;
  background-color: #004047;
  padding: 140px 0;
}

.about-2__container--title h2 {
  padding-bottom: 64px;
  font-weight: 700;
  font-size: 48px;
  line-height: 48px;
  text-align: center;
  color: #ffffff;
}

.about-2__container--cards {
  display: grid;
  grid-template-columns: repeat(3, auto);
  grid-column-gap: 68px;
}

.about-2__card {
  width: 350px;
  height: 253px;
  margin-bottom: 76px;
  padding-top: 35px;
  background: #012f34;
}

.card--user {
  display: grid;
  justify-content: center;
  margin-bottom: 13px;
}

.card--username {
  margin-bottom: 23px;
  text-align: center;
}

.card--username h5 {
  font-weight: 700;
  font-size: 18px;
  line-height: 28px;
  color: #79c8c7;
}

.card--username p {
  font-size: 15px;
  line-height: 25px;
  color: #ffffff;
}

.card--button {
  display: grid;
  justify-content: center;
}

.card--button button {
  width: 56px;
  height: 56px;
  font-size: 35px;
  color: #012f34;
  border: none;
  border-radius: 50%;
  background: #f67e7e;
}

/*  */

#about-3 {
  background: url(../../images/about/background-3.png) no-repeat center;
  background-size: 1536px;
  height: 465px;
  background-color: #012f34;
  padding: 140px 0px 151px 0px;
}

.about-3__container--top h2 {
  padding-bottom: 70px;
  font-weight: 700;
  font-size: 48px;
  line-height: 48px;
  text-align: center;
  color: #ffffff;
}

.about-3__container--bottom {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

/*  */

#home-4 {
  background: url(../../images/about/background-4.png) no-repeat center;
  background-color: #f67e7e;
  background-size: 1536px;
  padding: 76px 260px 0px 260px;
}

.home-4__container {
  display: grid;
  grid-template-columns: repeat(2, auto);
  grid-column-gap: 260px;
}

.home-4__container--left h2 {
  font-weight: 700;
  font-size: 48px;
  line-height: 38px;
  color: #012f34;
}

.home-4__container--right {
  margin-bottom: 76px;
}

.home-4__btn {
  font-weight: 600;
  font-size: 18px;
  line-height: 28px;
  color: #012f34;
  border: 2px solid #012f34;
}

.home-4__btn:hover {
  color: #ffffff;
  background-color: #012f34;
  transition: 0.5s;
}

#footer {
  background-color: #002529;
  padding: 48px 0px 55px 0px;
}

.footer__container {
  display: grid;
  grid-template-columns: repeat(2, auto);
}

.footer__container--left {
  display: flex;
  gap: 125px;
}

.footer__link {
  display: flex;
  gap: 40px;
  margin-top: 25px;
}

.footer__link a {
  font-weight: 600;
  font-size: 18px;
  line-height: 28px;
  color: #ffffff;
}

.footer__link a:hover {
  color: #f67e7e;
  transition: 0.5s;
}

.footer__tel {
  font-weight: 600;
  font-size: 15px;
  line-height: 25px;
  color: #ffffff;
  mix-blend-mode: normal;
  opacity: 0.6;
}

.footer__sites {
  text-align: right;
  display: grid;
  grid-row-gap: 51px;
}

.footer--web img {
  margin-left: 16px;
}

.footer--last p {
  font-weight: 600;
  font-size: 15px;
  line-height: 25px;
  color: #ffffff;
  mix-blend-mode: normal;
  opacity: 0.6;
}

@media (max-width: 1285px) {
  .home-4__container {
    grid-template-columns: auto;
  }
  .home-4__container--left h2 {
    text-align: center;
    padding-bottom: 30px;
  }
  .home-4__container--right {
    display: grid;
    justify-content: center;
  }
}

@media (max-width: 1250px) {
  #about-2 {
    height: auto;
  }
  .about-2__container--cards {
    display: grid;
    grid-template-columns: repeat(2, auto);
    justify-content: center;
  }
}

@media (max-width: 1135px) {
  .about__container {
    display: grid;
    grid-template-columns: auto;
    grid-gap: 0;
  }
  .about__container--left {
    padding: 0;
  }
  .about__container--left h1 {
    text-align: center;
  }
  .about__container--right {
    padding-top: 20px;
  }
  .about__container--right p {
    text-align: center;
  }
}

@media (max-width: 950px) {
  .about-3__container--bottom {
    display: grid;
    grid-template-columns: repeat(3, auto);
    grid-gap: 20px;
    justify-content: center;
  }
}

@media (max-width: 830px) {
  .about-2__container--cards {
    display: grid;
    grid-template-columns: repeat(1, auto);
    justify-content: center;
  }
}

@media (max-width: 800px) {
  .footer__container {
    display: grid;
    grid-template-columns: auto;
  }
  .footer__container--left {
    display: grid;
    grid-template-columns: repeat(2, auto);
    justify-content: center;
  }
  .footer__container--right {
    display: grid;
    justify-content: center;
    margin-top: 30px;
  }
  .footer__sites {
    text-align: center;
  }
}

@media (max-width: 770px) {
  #home-4 {
    width: 100%;
    margin: 0;
    padding: 40px 0px 0px 0px;
  }
}

@media (max-width: 605px) {
  .navbar {
    height: 180px;
  }
  .navbar__container {
    display: grid;
    grid-template-columns: auto;
    justify-content: center;
  }
  .navbar__container--left {
    display: grid;
    justify-content: center;
  }
  .navbar__container--left img {
    margin: 0px 0px 0px 10px;
  }
  .navbar__container--right {
    display: grid;
    justify-content: center;
  }
  #about-3 {
    padding: 30px 0px 0px 0px;
  }
  .about-3__container--bottom {
    display: grid;
    grid-template-columns: auto;
    grid-gap: 20px;
    justify-content: center;
  }
}

@media (max-width: 510px) {
  .footer__container--left {
    display: grid;
    grid-template-columns: auto;
    justify-content: center;
  }
  .footer__container--right {
    margin-top: 70px;
  }
}

@media (max-width: 420px) {
  #about {
    height: auto;
    padding-bottom: 50px;
  }
  .about-2__card {
    width: 300px;
  }
}
